{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("LEGAL")}}{% endblock %}

{% block page_description %}{{translate("LEGAL.DESCRIPTION")}}{% endblock %}

{% block body_matter %}
<div class="container">
	<div class="row">
		{% include 'pages/partials/legal.html.twig' %}
	</div>
</div>
{% endblock %}
