{% block sidebar_user %}
	{% include 'navigation/sidebar-user.html.twig' %}
{% endblock %}

{% block sidebar_menu %}
<!-- Sidebar Menu -->
<nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<li class="nav-header">{{translate('NAVIGATION')}}</li>
		{% include 'navigation/sidebar-menu.html.twig' %}
	</ul>
</nav>
<!-- /.sidebar-menu -->
{% endblock %}
